#BarTop{
    position: absolute;
    top: 0;
    width: 100%;
    height: 170px;
    background-color: rgb(159, 159, 255);
    color: white;
    display: grid;
    grid-template-columns: repeat(3,33%);
    justify-content: center;
    grid-template-rows: 100px;
}

.bouton-menu{
    padding: 10px;
    text-align: center;
    font-size: 150px;
}